@model IEnumerable<CheckMateQA.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-controller="Company" asp-action="Create" class="btn btn-primary mb-3">Nuevo</a>

<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th>#</th>
            <th>@Html.DisplayNameFor(x => x.Name)</th>
            <th>@Html.DisplayNameFor(x => x.Description)</th>
            <th>@Html.DisplayNameFor(x => x.Enabled)</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Id)</td>
                <td>@Html.DisplayFor(x => item.Name)</td>
                <td>@Html.DisplayFor(x => item.Description)</td>
                <td>@Html.DisplayFor(x => item.Enabled)</td>
                <td>
                    <span class="mx-1">
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-search"></i></a>
                    </span>
                    <span class="mx-1">
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pen"></i></a>
                    </span>
                    <span class="mx-1">
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Count() == 0)
{
    <div class="alert alert-info" role="alert">
        No existen registros para mostrar
    </div>
}